@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    height: 100vh;
    color: #222C2A;
}
h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: .5rem;
}
section {
    padding: 3em 0;
}
.intro {
    background-color: #F3EED9;
    padding: 200px 0;
    text-align: center;
    color: #824936; 
    min-height: 660px;
    display: flex;
    align-items: center;
}
.intro-text {
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 10px;
    color: #222C2A;
    margin-bottom: .25rem;
}
.title {
    font-size: 60px;
}
.container {
    width: 85%;
    max-width: 1128px;
    margin: 0 auto;
}
.section-title {
    font-size: 2.2rem;
    color: #F3EED9;
}
.dark {
    color: #824936;
    text-align: center;
    margin-bottom: 2rem;
}
.section-two p{
    margin-bottom: 2rem;
}
.section-three {
    background-color: #222C2A;
    color: #fff;
}
.section-four {
    background-color: #824936;
    color: #fff;
}
.row {
    display: flex;
    justify-content: space-between;
}
.col {
    width: 100%;
}
.col + .col {
    margin-left: 5em;
}
img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col + .col {
        margin-left: 0;
    }
    .title {
        font-size: 3.3rem;
    }
}
